<!-- index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>복싱 게임 시작</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>  
    <div class="container">
        <h1>인간은 정말 기계를 이길 수 없을까</h1>
        <button id="startButton">시작하기</button> 
    </div>
    <script src = "js/index.js"></script>

    <footer>
        <h2>광문고등학교 프로그래밍 동아리</h2>
        <a href="https://velog.io/@jack0507/series/AI%EB%B3%B5%EC%8B%B1-%EA%B0%9C%EB%B0%9C">개발 과정이 궁금하다면 클릭!</a>
    </footer>
</body>
</html>
